body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 3px;
    font-size: 20px;
    color: #111;
}

h3 {
    font-size: 25px;
}

.container {
    padding: 80px 120px;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}

.person:hover {
    border-color: #f1f1f1;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

.bg-1 {
    color: #2d2d30;
    background: #bdbdbd;
}

.bg-1 h3 {
    /*color: #fff;*/
    color: #2d2d30;
}

.bg-1 p {
    /*font-style: italic;*/
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}

.nav-tabs li a {
    color: #777;
}

#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: red !important;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.form-control {
    border-radius: 0;
}

textarea {
    resize: none;
}

#banner {
    background: url(../images/banner.jpg);
    text-align: center;
    padding: 90px 0 130px 0;
    background-size: 100% 114%;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.tabs-left {
    border-right: 1px solid #ddd;
}

.tabs-right {
    border-left: 1px solid #ddd;
}

.tabs-left > li, .tabs-right > li {
    float: none;
    margin-bottom: 2px;
}

.tabs-left > li {
    margin-right: -1px;
}

.tabs-right > li {
    margin-left: -1px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-right > li.active > a,
.tabs-right > li.active > a:hover,
.tabs-right > li.active > a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}

.tabs-left > li > a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    font-weight: bold;
    display: block;
}

.tabs-right > li > a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}

.vertical-text {
    margin-top: 50px;
    border: none;
    position: relative;
}

.vertical-text > li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
}

.vertical-text > li > a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
}

.vertical-text > li.active > a,
.vertical-text > li.active > a:hover,
.vertical-text > li.active > a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
}

.vertical-text.tabs-left {
    left: -50px;
}

.vertical-text.tabs-right {
    right: -50px;
}

.vertical-text.tabs-right > li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.vertical-text.tabs-left > li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.address--content {
    font-size: 23px;
    color: #fff;
    padding-left: 30px;
}

.address--content p {
    font-style: normal;
}

.address--content h3 {
    font-style: normal;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    color: #fff;
}

#contact {
    padding-top: 35px;
}

.address--content span {
    width: 50px;
    padding-right: 1rem;
}

/* fixed social*/
#fixed-social {
    position: fixed;
    top: 130px;
    right: 0
}

#fixed-social a {
    color: #fff;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    width: 40px;
    margin-bottom: 1px;
    z-index: 2;
}

#fixed-social a:hover > span {
    visibility: visible;
    left: 41px;
    opacity: 1;
}

#fixed-social a span {
    line-height: 40px;
    left: 60px;
    position: absolute;
    text-align: center;
    width: 120px;
    visibility: hidden;
    transition-duration: 0.5s;
    z-index: 1;
    opacity: 0;
}

.fixed-facebook {
    background-color: #00AAE5;
}

.fixed-facebook span {
    background-color: #00AAE5;
}

.fixed-twitter {
    background-color: #7D3895;

}

.fixed-twitter span {
    background-color: #7D3895;
}

.fixed-gplus {
    background-color: #00AF54;

}

.fixed-gplus span {
    background-color: #00AF54;
}

.fixed-linkedin {
    background-color: #FFC41E;

}

.fixed-linkedin span {
    background-color: #FFC41E;
}

.fixed-instagrem {
    background-color: #ED2B29;

}

.fixed-instagrem span {
    background-color: #ED2B29;
}

.fixed-tumblr {
    background-color: #EB1471;

}

.fixed-tumblr span {
    background-color: #EB1471;
}

/*end fixed social*/

@media (min-width: 601px) {
    .about--heading {
        padding: 2rem 4rem 0 4rem
    }

    .about--content {
        padding: 0 4rem
    }

    .about--image {
        padding-right: 0
    }

    .tab--heading {
        padding-left: 0
    }
}


@media (max-width: 600px) {

    #banner {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.73), rgba(0, 0, 0, 0.3)), url(../images/banner.jpg);
        text-align: center;
        padding: 69px 0 18px 0;
        background-size: cover;
    }

    #info, #about, #contact {
        padding: 2rem 0;
    }

    p {
        text-align: justify;
    }
}